<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Patient - Bill</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
 <link rel="stylesheet" href="patientDashboard.html" type="text/css"/>

</head>
    <body>
        <a href="/patientDashboard">Back to Dashboard</a>
        <div class="container">

            <h1 style="text-align:center;">Patient: Bills</h1>

            <div style="align-content: center;">

                <table class="container">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Due Date</th>
                            <th>Insurance Paid</th>
                            <th>Amount Paid</th>
                            <th>Amount Due</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                01/23/2023
                            </td>
                            <td>Health Consultation</td>
                            <td>General doctor visit</td>
                            <td>02/30/2023</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>200.00</td>
                            <th>200.00</th>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </body>
</html>